
.nav {
    grid-area: nav;
    background-color: yellow;
    padding: 20px;
}
.item {
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
    color: black;
    transition: all 0.5s;
}
.item:hover {
    color: blue;
}
.active {
    color: red;
    text-decoration: none;
}

