
.nav {
    grid-area: nav;
    background-color: yellow;
}
.item > a {
    color: inherit;
    list-style-type: none;
    text-decoration: none;
}
.item {
    color: black;
    cursor: pointer;
    transition: all 0.6s;
}
.item:hover {
    color: blue;
}
.item.active {
    color: red;
}

