.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gameSection {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-right: 20px;
}

.setupSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

.setupSectionNav {
    display: flex;
    justify-content: space-evenly;
}

.setupSectionForm {
    display: flex;
    justify-content: space-around;
    height: 290px;
    padding: 10px;
    margin-top: 20px;
}

.setupSectionButton {
    height: 440px;
    padding: 10px;
    margin-top: 20px;
}

